h2 {
    margin-bottom: 20px;
}

h3 {
    font-size: 18px;
    text-transform: uppercase;
}

.fs-small {
    font-size: 10px;
}

.fs-medium {
    font-size: 12px;
}

.fs-big {
    font-size: 16px;
}

.tt-upper {
    text-transform: uppercase;
}

.fc-grey {
    color: $brand-darker-gray;
}

.fc-white {
    color: white;
}