.user__reports {
    font-size: 28px;
    padding-bottom: 25px;
    border-bottom: 1px solid $brand-darker-gray;

    .total {
        display: block;
        font-size: 52px;
        font-weight: 600;
    }
}

.user__statistics {
    padding-top: 25px;
    font-size: 16px;
}