.hero {

    &--annual-reports {
        background-image: url(#{$path-images}hero-rolunk-beszamolok-jelentesek.png);
        padding: em(64) 0 em(72);

        @include desktop {
            padding: em(64, $font-size-desktop) 0 em(72, $font-size-desktop);
        }
    }
}

.reports-block {
    padding-top: em(50);
    padding-bottom: em(50);

    @include desktop {
        padding-top: em(75, $font-size-desktop);
        padding-bottom: em(75, $font-size-desktop);
    }

    a {
        display: block;
        color: $brand-darker-gray;
    }


    .reports-block__item {

        text-align: left;

        .heading {
            padding-top: em(25);
            padding-bottom: em(12);
            margin-bottom: em(20);

            @include desktop {
                padding-top: 0;
            }
        }

        p,
        a,
        li {
            margin-bottom: em(20);

            &:last-child {
                margin-bottom: 0;
            }

            @include desktop {
                margin-bottom: em(20, $font-size-desktop);
            }
        }

        .icon {
            margin-right: em(20);
        }
    }
}

.heading--btm-bordered {
    border-bottom: 1px solid $brand-light-gray;
}
