.support-box {
    color: #fff;
    background-color: $brand-support-blue;
    background-image: url('../images/herobox-bg.jpg');
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100% auto;

    .container {
        position: relative;
        padding-top: em(50);
        padding-bottom: em(60);
        overflow: hidden;

        @include desktop {
            padding-top: em(115, $font-size-desktop);
            padding-bottom: em(100, $font-size-desktop);
        }
    }

    &__media {
        position: relative;
        height: em(225, $font-size-desktop);
    }

    &__lead {
        margin: 0 0 em(40, 24);
        font-size: em(24);

        @include desktop {
            margin-bottom: em(40, 22);
            font-size: em(22, $font-size-desktop);
        }
    }

    &__button {
        margin-bottom: em(50);
        text-align: center;

        @include desktop {
            margin-bottom: 0;
            text-align: left;
        }
    }

    &__icon {
        margin-bottom: em(20);
        font-size: em($font-size-base, 24);

        @include desktop {
            margin-right: em(40, $font-size-desktop);
        }
    }
}
